@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Fira+Code:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  width: 100%;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #4c9f38;
}

.nav_bar {
  display: flex;
}

.link_list {
  display: flex;
  gap: 2rem;

  list-style: none;
}
/* Link */
.link_list > li > a {
  font-family: "Elms Sans", "Arial", "Times New Roman";
  font-weight: 600;
  font-size: 1.25rem;
  color: white;
  text-decoration: none;
}

main {
  width: 100%;
  min-height: 100vh;
}

#introduction,
#objective,
#solution {
  width: 100%;
  min-height: 100vh;
  scroll-margin-top: 60px;
}

#introduction {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#ods-video {
  width: 45%;
  height: 350px;
}

.intro_info_box {
  width: 45%;
  height: auto;
  background: lightgreen;
  color: #222222;
  font-family: "Elms Sans", "Arial", "Times New Roman";
  font-size: 1.25rem;
  border-radius: 1rem;
  padding: 1rem;
}

#objective {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgreen;
  padding: 2rem 0;
}

#objective h1 {
  font-family: "Elms Sans", "Arial", "Times New Roman";
  color: #007b55;
  background-color: white;
  padding: 1rem 2rem;
  margin: 0 0 2rem;
  border-radius: 1rem;
}

.objective_boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 1rem;
}

.objective_boxes div {
  font-family: "Elms Sans", "Arial", "Times New Roman";
  min-height: 200px;
  background: #f5f5f5;
  border-radius: 12px;
  padding: 20px;
  text-align: justify;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.objective_boxes h2 {
  color: #007b55;
  font-family: "Montserrat", "Elms Sans", "Arial", "Times New Roman";
  font-size: 1.8rem;
  margin-bottom: 6px;
}

.objective_boxes p {
  font-size: 1rem;
  color: #333;
}

#solution {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}
